body{
    width: 100%;
    height: 0%;
    margin: auto;
}

table{
    margin-inline: 2%;
    margin-inline-end: 2%;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    /*align-items: center;*/
}

.des{
    width: 50%;
}