.cancel{
    background-color: red;
    border-color: red;
}

button{
    margin-inline-end: 1%;
}

form{
    margin-top: 1%;
    margin-inline: 2%;

}

label{
    text-align: left;
    font-size: larger;
    font-weight: bold;
}