<div class="c1">
    <h2 class="subtitulo">{{'PTIT' | translate}}</h2>
    <p>{{'PDES' | translate}}</p>
</div>
<hr class="divisor">
<div class="c1">
    <h2 class="subtitulo">{{'PAB' | translate}}</h2>
    <div class="container1">
        <p class="parrafo" [innerHTML]=" 'PA' | translate "></p>
        <img src="./assets/images/perfil.png" width="200px" height="200px">
    </div>
</div>
<hr class="divisor">
<div class="container2">
    <h2 class="h2Git">{{'GITHUB' | translate}}</h2>
    <a href="https://github.com/Paez11" style="margin-inline: 5%;"> <img class="git" src="assets/images/git.png"> </a>
</div>
<!--
<p>{{mensaje}}</p>
<p></p>
<img [src]="src" alt="Cargando imagen">
-->
